@import "variables";
@import "general";


.parrafoindex {
   margin: 10px;
   font-family: 'Noto Sans', sans-serif;
   list-style-type: circle;
   font-size: 20px;
   font-style: normal;
   font-weight: bold;
   text-align: justify;
}

.publicidad {
   align-self: center;
}

/* ----DECLARO AREAS ---- */
header {
   grid-area: header;
   background-image: linear-gradient(to bottom, $colorTituloDesde, $colorTituloHasta);
   color: whitesmoke;
}

footer {
   grid-area: footer;
   background-color: black;
}

section#productos {
   grid-area: productos;
   background-color: lightgrey;
}

section#servicios {
   grid-area: servicios;
   background-color: rgb(124, 136, 136);
}

nav {
   grid-area: nav;
   background-color: rgb(156, 152, 152);
}

aside {
   grid-area: publicidad;
   background-color: darkgray;
}


/* ------------------------ VISTA MOBILE - SMARTPHONE  ----------- */
#grilla {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-areas:
      "header"
      "nav"
      "productos"
      "servicios"
      "publicidad"
      "footer";
   grid-template-columns: auto;
   grid-row-gap: 5px;
}

/* -------- ESTILOS FLEX -------- */
.menuFlex {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

}

.productosFlex {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.footerFlex {
   color: white;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.footer_texto {
   font-size: 10px;
}

.footer_social {
   display: flex;
   gap: 10px
}

.footer_social i {
   font-size: 10px;
}

/* ------------------------ VISTA MOBILE - TABLET  ----------- */
@media (min-width: 768px) {
   #grilla {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-areas:
         "header header"
         "nav nav"
         "productos productos"
         "servicios servicios"
         "publicidad publicidad"
         "footer footer";
      grid-template-columns: 50% 50%;
      grid-column-gap: 5px;
      grid-row-gap: 5px;

   }

   /* -------- ESTILOS FLEX -------- */
   .menuFlex {
      display: flex;
      flex-direction: row;
      justify-content: space-around;




   }

   .productosFlex {
      display: flex;
      flex-direction: row;
      text-align: center;
   }

   .footerFlex {
      color: white;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .footer_texto {
      font-size: 10px;
   }

   .footer_social {
      display: flex;
      gap: 10px
   }

   .footer_social i {
      font-size: 20px;
   }
}


/* ------------------------ VISTA DESKTOP ------------------------ */
@media (min-width:1024px) {

   #grilla {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-areas:
         "header header"
         "nav nav"
         "productos publicidad"
         "servicios publicidad"
         "footer footer";
      grid-template-rows: 100px 100px auto auto 75px;
      grid-template-columns: 80% 20%;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
   }

   /* -------- ESTILOS FLEX -------- */
   .menuFlex {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 5%;
      height: 100%;
   }

   .productosFlex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 100%;
   }

   .serviciosFlex {
      height: 100%;
   }

   .footerFlex {
      color: white;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .footer_texto {
      font-size: 20px;
   }

   .footer_social {
      display: flex;
      gap: 20px
   }

   .footer_social i {
      font-size: 30px;
   }

}
