/* ------------------------ FUENTE ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");
/* ------------------------ GENERALES ------------------------ */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.border {
  border: 1px solid black;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.parrafoindex {
  margin: 10px;
  font-family: 'Noto Sans', sans-serif;
  list-style-type: circle;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
}

.publicidad {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ----DECLARO AREAS ---- */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(grey));
  background-image: linear-gradient(to bottom, black, grey);
  color: whitesmoke;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
}

section#productos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: productos;
  background-color: lightgrey;
}

section#servicios {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios;
  background-color: #7c8888;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #9c9898;
}

aside {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: publicidad;
  background-color: darkgray;
}

/* ------------------------ VISTA MOBILE - SMARTPHONE  ----------- */
#grilla {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "productos" "servicios" "publicidad" "footer";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-row-gap: 5px;
}

/* -------- ESTILOS FLEX -------- */
.menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productosFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footerFlex {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_texto {
  font-size: 10px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer_social i {
  font-size: 10px;
}

/* ------------------------ VISTA MOBILE - TABLET  ----------- */
@media (min-width: 768px) {
  #grilla {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "nav nav" "productos productos" "servicios servicios" "publicidad publicidad" "footer footer";
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  /* -------- ESTILOS FLEX -------- */
  .menuFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .productosFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .footerFlex {
    color: white;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_texto {
    font-size: 10px;
  }
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .footer_social i {
    font-size: 20px;
  }
}

/* ------------------------ VISTA DESKTOP ------------------------ */
@media (min-width: 1024px) {
  #grilla {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "nav nav" "productos publicidad" "servicios publicidad" "footer footer";
    -ms-grid-rows: 100px 100px auto auto 75px;
        grid-template-rows: 100px 100px auto auto 75px;
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  /* -------- ESTILOS FLEX -------- */
  .menuFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 5%;
    height: 100%;
  }
  .productosFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
  .serviciosFlex {
    height: 100%;
  }
  .footerFlex {
    color: white;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_texto {
    font-size: 20px;
  }
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .footer_social i {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */